
@{
    ViewData["Title"] = "Index";
}
    <body>
        <header>
            <div class="textos">
                <h1 class="titulo">Menu Principal</h1>
                <h3 class="subtitulo">Guetemala "Covid-19"</h3>
                <h2> Proyecto Final Estrutura de Datos </h2>
            </div>
            <div class="sesgoabajo"></div>
        </header>

        <section class="cards contenedor">
            <h2 style="text-align:center">Opciones</h2>
            <div class="content-cards">
                <article class="card">
                    <img src="~/Imagenes/Paciente.jpg" alt="" width="310">
                    <a asp-action="IngresarPaciente" class="btn btn-outline-dark btn-lg btn-block" role="button">Ingresar Paciente</a>
                </article>
                <article class="card">
                    <img src="~/Imagenes/Hospital.jpg" alt="" width="300">
                    <a asp-action="Hospitales" class="btn btn-outline-dark btn-lg btn-block" role="button">Hospitales</a>
                </article>
                <article class="card">
                    <img src="~/Imagenes/Lupa.jpg" alt="" width="250">
                    <a asp-action="BuscarPaciente" class="btn btn-outline-dark btn-lg btn-block" role="button">Buscar Pacientes</a>
                </article>
            </div>
        </section>
            <h2 class="titulo-final">Un Gusto Atenderte</h2>
            <div class="sesgoabajo-unico"></div>


    </body>

