
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Menu Principal</h1>
    <h2>
        Guetemala "Covid 19"
    </h2>
    <p>
        Proyecto Final Estrutura de Datos
    </p>

</div>
<hr />
<hr />
<hr />
<a asp-action="IngresarPaciente" class="btn btn-dark btn-lg btn-block" role="button">Ingresar Pasiente</a>
<hr />
<a asp-action="Hospitales" class="btn btn-dark btn-lg btn-block" role="button">Hospitales</a>
<hr />
<a asp-action="BuscarPaciente" class="btn btn-dark btn-lg btn-block" role="button">Buscar Pacientes</a>
<hr />
<a asp-action="MostrarEstadisticas" class="btn btn-dark btn-lg btn-block" role="button">Mostrar estadisticas</a>
<hr />


