
@{
    ViewData["Title"] = "MostarHospital";
}

<div class="text-center">
    <h1>Hospitale </h1>
    <h2>
        @ViewBag.NombreHospital
    </h2>
</div>
<hr />
<hr />
<hr />
<a asp-action="PacientesSospechosos" class="btn btn-outline-dark btn-lg btn-block" role="button">Pacientes Sospechosos</a>
<hr />
<a asp-action="ColaConfirmados" class="btn btn-outline-danger btn-lg btn-block" role="button">Cola de Confirmados</a>
<hr />
<a asp-action="CamasHospital" class="btn btn-outline-info btn-lg btn-block" role="button">Camas del Hospital</a>
<hr />
<a asp-action="RealizarPrueba" class="btn btn-outline-warning btn-lg btn-block" role="button">Realizar Prueba a Sospechoso</a>
<hr />
<a class="btn btn-outline-info btn-lg btn-block" asp-action="Hospitales">Regresar</a>

